
<div class="top-header">

  <p class="cities-added-text">6 Cities added as favourite</p>
  <div class="cities-added-text">Remove All</div>
</div>
<div class="compdiv" >
  <div class="compdivmobdiv">
    <div class="comptext1">Udupi,karnataka</div>
    <div class="compdivin">
      <img
        src="../../assets/images/icon_humidity_info.png"
        alt="comp_icon"
        class="comp_icon"
      />
      <p class="comptext2">
        68
        <span class="degree-text">°c</span>
      </p>
      <p class="comptext3">Mostly sunny</p>
    </div>
  </div>
  <img
    src="../../assets/images/icon_favourite_Active.png"
    alt="favourite"
    class="fav_icon"
  />
  <!-- {false ? (
        <img
          src="../assets/images/favourite_icon_copy.png"
          alt="favourite"
          class="fav_icon"
        />
      ) : (
        <img
          src="../assets/images/icon_favourite_Active.png"
          alt="favourite"
          class="fav_icon"
        />
      )} -->
</div>
